/* 規定値へのスタイル */
body{
    padding-top: 5rem;
    background-color: #e6e6e6;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

#download-file{
    opacity: 0.9;
}

#download-file:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.appeal{
    animation-name: appeal-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes appeal-button{
    from{
        opacity: 0.8;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1.1);
    }
}

#input{
    opacity: 0.9;
}

#input:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.font-size2q5{
    font-size: 2.5rem;
}

#input-label{
    opacity: 0.9;
    border-style: 1rem solid white;
}

#input-label:hover{
    cursor: pointer;
    border-style: 1rem solid #1a1919;
    background-color: #1a1919;
}

.height-100 > img{
    height: 65%;
    opacity: 0.8;
}
/* ---------------------------------------------------------- */
/* height */
.height-100{
    height: 100%;
}
/* ------------------------------------------------------------ */
/* width */


/* --------------------------------------------------------------- */
/* fonts */
.biz-mincho{
    font-family: 'BIZ UDMincho', serif;
}

/* --------------------------------------------------------------- */
/* 背景色 */
.light-pink{
    background-color: #ff8080;
}

.light-gray{
    background-color: #cccccc;
}
/* --------------------------------------------------------------- */
/* 疑似要素 */
.badge{
    opacity: 0.8;
}

.badge-link{
    opacity: 0.7;
}

.badge-link:hover{
    opacity: 1;
    transform: scale(1.1);
}

.navbar{
    opacity: 0.9;
}

.opacity0q9{
    opacity: 0.9;
}

.content-row{
    opacity: 0.8;
}

.content-row:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.tooltip {
    position: relative; /* ツールチップの位置の基準に */
    cursor: pointer; /* カーソルを当てたときにポインターに */
}

  /* ツールチップのテキスト */
.tooltip-text {
    opacity: 0;
    visibility: hidden; /* はじめは隠しておく */
    position: absolute; /* 絶対配置 */
    left: 50%; /* 親に対して中央配置 */
    transform: translateX(-50%); /* 親に対して中央配置 */
    bottom: -30px; /* 親要素下からの位置 */
    display: inline-block;
    padding: 5px; /* 余白 */
    white-space: nowrap; /* テキストを折り返さない */
    font-size: 0.8rem; /* フォントサイズ */
    line-height: 1.3; /* 行間 */
    background: #333; /* 背景色 */
    color: #fff; /* 文字色 */
    border-radius: 3px; /* 角丸 */
}

  /* ホバー時にツールチップの非表示を解除 */
.tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

#back-button{
    position: absolute;
    left: 90%;
    top: 85%;
    opacity: 0.8;
    color: rgb(219, 225, 233);
    border: #787f86 solid 0.1rem;
    background-color: #6c757d;
    font-size: 4rem;
    font-weight: 900;
    border-radius: 50%;
}

#back-button:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
